.s2{
    background-color: yellowgreen
}
body{
    background-image: url(1.jpg);
}
a{
    text-decoration:none;
    color:red;

    
}
a:hover{
    background-color: yellowgreen;
    border:1px solid white;
}
.q{
    background-color: yellowgreen;
    width: 40%;
}
.s{
    background-color:yellowgreen ;
    width:30%;
}
.s1{
    background-color: yellowgreenyellow; 
    width:35%;
}